.color-header-card-head {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: var(--customer-card-head-background);
  padding: 16px 0;
  box-shadow: 0 0 10px #CCC;
  color: var(--primary-color);

  & > span:nth-of-type(2) {
    float: right;
    margin: 0 30px;
  }

  & > span:nth-of-type(3) {
    float: right;
  }

  & > span:nth-of-type(4) {
    float: right;
    margin: 0 30px;
  }

  & > i {
    font-size: 22px;
    line-height: 32px;
  }
}